.wn-footer {
text-align: center;
color: white;
background-color: #303030;
font-size: 15px;
padding-top: 4%;
}
hr {
  background-color: #ECF8DD;
  border: none;
  width: 50%;
  height: 1px;
}
.hrOne {
  margin-top: 22px;
  margin-bottom: 42px;
}
.menu-item {
  color:white;
}
.home-logo {

  width: 16vw;
}
.linkbl {
  color: white;
  padding-left: 45%;
}

.iconLnk {
font-size: 1.7rem;
}

/* Mobile Devices */
@media ( max-width:767px){
  .home-logo {
    width: 59vw;
  }
  .wn-footer {
  font-size: 20px;
  padding-top: 4%;
  }
  .iconLnk {
  font-size: 2.4rem;
  }
}

/* Medium Devices */
@media (min-width:768px) {

}
/* Large devices */
@media (min-width:992px){

}

/* Extra large devices */
@media (min-width:1200px){

}
