.titleHeader {
  color:white;
  font-size:61px;
}

.parallax {
  min-height: 110vh;
  background-image: url(./img/Iliium_landing-page.jpg);
  color:white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.logo_iliium {
  display:block;
  width:55vw;
}

.btnContact {
  width:20vw;
  min-height:5vh;
  font-size:30px !important;
  color: #c3c0cc!important;
  background-color: Transparent !important;
  border-color: white !important;
  border-radius:49px !important;
  text-align:center;
}

/* Mobile Devices */
@media (max-width: 576px) {
  .titleHeader {
    margin-top: 5%;
    font-size: 44px;
  }

  .logo_iliium {
    width: 95vw;
  }
  .btnContact {
    margin-top: 5%;
    min-width: 140px;
    min-height: 4vh;
    font-size: 19px !important;
    color: #c3c0cc!important;
    background-color: Transparent !important;
    border-color: white !important;
    border-radius:49px !important;
    text-align:center;
  }
}

/* Medium Devices */
@media (max-width:992px) {
  .btnContact {
    width:25vw;
    min-height:5vh;
    font-size:30px !important;
    color: #c3c0cc!important;
    background-color: Transparent !important;
    border-color: white !important;
    border-radius:49px !important;
    text-align:center;
  }

}
/* Large devices */
@media (min-width:992px) {

}

/* Extra large devices */
@media (min-width:1200px) {

}
