.titleHeader {
  color:white;
  font-size:63px;
}

.parallax {
  height: 100vh;
  background-image: url(./img/Iliium_landing-page.jpg);
  color:white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.logo_iliium {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:4%;
  width:36vw;
}

.secPart {
  padding:4% 0% 0% 6% !important;
}

.btnContact {
  width:22vw;
  height:5vw;
  color: #c3c0cc!important;
  background-color: Transparent !important;
  border-color: white !important;
  border-radius:49px !important;
  text-align:center;
}

.paddHeader {
  padding-bottom: 5%;
}

/* Mobile Devices */
@media (min-width:310px) and (max-width: 460px)
{
  .btnContact {
    margin-left: 30% ;
    border-radius:20px;
    width:40% ;
    height:38%;
  }

  .titleHeader {
    color:white;
    font-size:19px;
  }

  .secPart {
    padding:4% 0% 0% 6% !important;
  }

}

/* Medium Devices */
@media (min-width:460px) and (max-width: 768px) {

      .titleHeader {
        color:white;
        font-size:45px;
      }
      
      .btnContact {
        margin-left: 30% !important;
        border-radius:20px !important;
        width:30% !important;
        height:33%;
      }

}
