

.paralsec
{
  height:70vw;
  background-size:cover;
  background-image: url(./img/Iliium_landing-page.jpg);
  color:white;
}

.logo_iliium
{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  width:60%;
}
.titleHeader
{
  color:white;
  font-size:63px;
}
.secPart
{
  padding:7% 0% 0% 6% !important;
}
.btnContact
{
  width:22vw;
  height:6vw;
  color: #c3c0cc!important;
  background-color: Transparent !important;
  border-color: white !important;
  border-radius:49px !important;
  text-align:center;

}
.txtBtn
{
 font-size: 30px;
}

/* Styles pour téléphones */
@media (min-width:310px) and (max-width: 460px)
{
  .btnContact
  {
    margin-left: 30% ;
    border-radius:20px;
    width:30% ;
    height:33%;
  }
  .txtBtn
  {
    font-size: 10px;
    margin-bottom: 10% !important;
  }
  .titleHeader
  {
    color:white;
    font-size:19px;
  }
  .secPart
  {
    padding:4% 0% 0% 6% !important;
  }

}
/* Styles pour les tablettes */
@media (min-width:460px) and (max-width: 768px) {

      .titleHeader
      {
        color:white;
        font-size:45px;
      }
      .btnContact
      {
        margin-left: 30% !important;
        border-radius:20px !important;
        width:30% !important;
        height:33%;
      }

      }
 /* Styles pour les écrans moyens et grands */
@media (min-width: 992px) {


      }
