.stTeam {
  height: 100%;
}

.logoCrux {
  height: 7vw;
}

.txtUnderCrux {
  font-size:15px;
}

.obliqueTeam {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width:54.9vw;
  max-height:100%;
  background-image:linear-gradient(#323635,#323635);
  transform: skewY(-70deg);
  transform:skewX(-21deg);
  transform-origin: top left;
}

.obliqueOne {
  position: absolute;
  top: 35%;
  bottom: 0;
  left:30%;
  right: 0;
  max-width:1.2vw;
  max-height:16vw;
  background-image:linear-gradient(#322f2f,#322f2f);
  transform: skewY(0deg);
  transform:skewX(53deg);
  transform-origin: top left;
}

.obliqueTwo {
  position: absolute;
  top: 65%;
  bottom: 0;
  right: 0;
  left: 65%;
  max-width:1.5vw;
  max-height:14vw;
  background-image:linear-gradient(#322f2f, #322f2f);
  transform: skewY(0deg);
  transform:skewX(-63deg);
  transform-origin: top left;
}

.titleOurTeam {
  font-size: 6vw;
  color:white;
}

.sectitleOurTeam {
  font-size: 3vw;
  color:white;
}
.fnt {
  font-weight: lighter;
}

.btnStart {
  background-color: white !important;
  width:15vw;
  text-align:center;
  color: #615f67!important;
  border-color: white !important;
  border-radius:49px !important;
  font-size: 20px !important;
}

.partDiag {
  font-size: 19px;
}

.secTxt {
  font-size:13px;
  font-weight: lighter;
}

.circleJulien, .circleEric, .circleMaxime {
  width:11vw;
}

.txtMaxdec {
  padding-left: 55%;
}

.txtSize1 {
  padding-top: 19%;
}

.txtSize2 {
  padding-top: 23%;
}

.txtSize3 {
  padding-top: 14%;
}

/* Mobile Devices */
@media (min-width: 576px)
{
}

/* Medium Devices */
@media (min-width:768px) {

}
/* Large devices */
@media (min-width:992px){

}

/* Extra large devices */
@media (min-width:1200px){

}
