.stTeam {
  height: 120vh;
}

.logoCrux {
  height: 7vw;
}

.txtUnderCrux {
  font-size:15px;
}

.obliqueTeam {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width:54.9vw;
  max-height:100%;
  background-image:linear-gradient(#323635,#323635);
  transform: skewY(-70deg);
  transform:skewX(-21deg);
  transform-origin: top left;
}

.titleOurTeam {
  font-size: 6vw;
  color:white;
}

.sectitleOurTeam {
  font-size: 3vw;
  color:white;
}

.fnt {
  font-weight: lighter;
}

.btnStart {
  background-color: white !important;
  width:15vw;
  text-align:center;
  color: #615f67!important;
  border-color: white !important;
  border-radius:49px !important;
  font-size: 20px !important;
}


.secTxt {
  font-size:13px;
  font-weight: lighter;
}

.circleJulien, .circleEric, .circleMaxime {
  width:9vw;
}

.circleMaxime {
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.centerVert{
  display: flex;
  align-items: center;
}


/* Mobile Devices */
@media (min-width: 576px)
{
}

/* Medium Devices */
@media (min-width:768px) {

}
/* Large devices */
@media (min-width:992px){

}

/* Extra large devices */
@media (min-width:1200px){

}
