.stTeam {
  min-height: 100vh;
  /*font-family: 'Noto Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;*/
  font-family: 'Raleway', sans-serif;

}

.logoCrux {
  height: 8vw;
}
.txtUnderCrux {
  font-size:19px;
}
.obliqueTeam {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width:54.9vw;
  max-height:100%;
  background-image:linear-gradient(#323635,#323635);
  transform: skewY(-70deg);
  transform:skewX(-21deg);
  transform-origin: top left;
}
.titleOurTeam {
  font-size: 6vw;
  color:white;
}
.sectitleOurTeam {
  font-size: 3vw;
  color:white;
}
.fnt {
  font-weight: lighter;
}
.btnStart {
  background-color: white !important;
  width:15vw;
  text-align:center;
  color: #615f67!important;
  border-color: white !important;
  border-radius:49px !important;
  font-size: 20px !important;
}
.firstTxt{
  font-size: 20px;
}
.secTxt {
  font-weight: lighter !important;
}
.team {
  height: 100%;
}
.circleJulien, .circleEric, .circleMaxime {
  width:10vw;
}
.circleMaxime {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.centerVert{
  display: flex;
  align-items: center;
}

/* Mobile Devices */
@media (max-width: 767px){
  .stTeam2{
    min-height:30%;
  }
  .stTeam {
    min-height: 100vh;
    background-color:#3d403f;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .btnStart {
    background-color: black !important;
    color:white !important;
    width:52vw !important;
    text-align:center;
    border-color: white !important;
    border-radius:49px !important;
    font-size: 17px !important;
  }
  .circleJulien, .circleEric, .circleMaxime {
    width:24vw;
  }
  .titleOurTeam {
    font-size:51px !important;
    color:white;
  }
  .sectitleOurTeam {
    font-size: 32px;
    color:white;
  }

  .secTxt {
    font-size:19px;
    font-weight: lighter;
    color:white;
  }
  .txtCircle{
    font-size: 20px;
    color:white;
  }

}

/* Medium Devices */
@media (min-width:767px) and (max-width:992px){
  .centerVert{
    display: flex;
    align-items: center;
  }
  .stTeam {
    min-height:100vh;
    background-color:#3d403f;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .btnStart {
    background-color: black !important;
    color:white !important;
    width:52vw !important;
    text-align:center;
    border-color: white !important;
    border-radius:49px !important;
    font-size: 19px !important;
  }

  .circleJulien, .circleEric, .circleMaxime {
    width:20vw;
  }
  .titleOurTeam {
    font-size:62px !important;
    color:white;
  }
  .sectitleOurTeam {
    font-size: 41px;
    color:white;
  }
  .secTxt {
    font-size:19px;
    font-weight: lighter;
    color:white;
  }
  .txtCircle{
    font-size: 20px;
    color:white;
  }
}
/* Large devices */
@media (min-width:992px){

}

/* Extra large devices */
@media (min-width:1200px){

}
