.stAboutUs
{
  height: 58.594vw;
  overflow: hidden;
}

.obliqueAbout {
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left:0 ;
  width:66.75vw;
  max-height:100vw;
  background-image: linear-gradient(#ccc9c5, #cccccc);
  transform: skewY(-70deg);
  transform:skewX(-22deg);
  transform-origin: top left;
}

.titleAboutUs
{
  font-size:6vw;
  padding:8% 0% 0% 7%;
  color:white;
}

.textbloc
{
  margin-top: 3%;
  padding-left:7%;
  color:black;
  font-size:1.4vw;
}
.textAboutUs
{
  padding:3% 0% 0% 0%;
  color:black;
}

.logo_BP
{
  width:38%;
  margin-left: 26%;
}

.logo_CA
{
  width:38%;
  margin-left: 35%;
}

.logo_supelec
{
  width:38%;
}

.logo_yeast
{
  width:38%;
  margin-left: 35%;
}

.logo_BPI
{
  width:38%;
  margin-right: 3%;
}

.logo_frenchtech
{
  width:38%;

}

.logo_bitstamp
{
  width:38%;
  margin-left: 18%;

}


/* Styles pour téléphones */
@media (max-width: 325px)
{
  .titleAboutUs
  {
    font-size:20px;
    padding:4% 0% 0% 0%;
    color:white;
  }

  .textbloc
  {
    margin-top: 1%;
    padding-left:0%;
    color:black;
    font-size:6.2px;
  }
  .textAboutUs
  {
    padding:0% 0% 0% 0%;
    color:black;
  }
}
/* Styles pour les tablettes */
@media (min-width:325px) and (max-width: 768px) {
  .titleAboutUs
  {
    font-size:43px;
    padding:3% 0% 0% 2%;
    color:white;
  }

  .textbloc
  {
    padding-top: 1%;
    padding-left:2%;
    color:black;
    font-size:15px;
  }
  .textAboutUs
  {
    padding:2% 0% 0% 0%;
    color:black;
  }
}
 /* Styles pour les écrans moyens et grands */
@media (min-width: 992px) {


      }
