.stAboutUs {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.obliqueAbout {
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left:0 ;
  width:63.5vw;
  max-height:100%;
  background-image: linear-gradient(#ccc9c5, #cccccc);
  transform: skewX(-20deg);
  transform-origin: top left;
}

.titleAboutUs {
  font-size:6vw;
  color:white;
}

.textbloc {
  margin-top: 3%;
  color:black;
  font-size:1.4vw;
}

.textAboutUs {
  padding:3% 0% 0% 0%;
  color:black;
}

.logo_bitstamp {
  width:32%;
}
.logo_frenchtech {
  width:32%;
  margin-left: 54%;
}
.logo_supelec {
  width:32%;
}
.logo_yeast {
  width:32%;
  margin-left: 54%;
}
.logo_BPI {
  width:33%;
  margin-left: 23%;
}
.logo_CA {
  width:32%;
}
.logo_BP {
  width:32%;
}


/* Mobile Devices */
@media (max-width: 767px){
  .stAboutUs{
    background-color:#ccc9c5;
    min-height: 100vh;
    background-image:linear-gradient(#bebebe,#4e4d4c);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .logo_bitstamp {
    width:100%;
    margin-left: 0%;
  }
  .logo_frenchtech {
    width:100%;
    margin-left: 0%;
  }
  .logo_supelec {
    width:100%;
    margin-left: 0%;
  }
  .logo_yeast {
    width:100%;
    margin-left: 0%;
  }
  .logo_BPI {
    width:100%;
    margin-left: 0%;
  }
  .logo_CA {
    width:100%;
    margin-left: 0%;
  }
  .logo_BP {
    width:100%;
    margin-left: 0%;
  }

  .firstPart{
    padding: 0 0 0 0;
  }
  .titleAboutUs {
    font-size:49px !important;
    padding-top:none;
    color:white;
  }
  .textAboutUs {
    padding:3% 0% 0% 0%;
    font-size: 20px !important;
    color:black;
  }

}

/* Medium Devices */
@media (max-width:992px) {
  .textAboutUs {
    padding:5% 0% 0% 0%;
    font-size: 14px;
    color:black;
  }
}

@media (min-width:992px){

}

@media (min-width:1200px){

}
