.stAboutUs {
  height: 100%;
  overflow: hidden;
}

.obliqueAbout {
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left:0 ;
  width:64.4vw;
  max-height:100%;
  background-image: linear-gradient(#ccc9c5, #cccccc);
  transform: skewX(-21deg);
  transform-origin: top left;
}

.titleAboutUs {
  font-size:6vw;
  color:white;
}

.textbloc {
  margin-top: 3%;
  color:black;
  font-size:1.4vw;
}

.textAboutUs {
  padding:3% 0% 0% 0%;
  color:black;
}

.logo_bitstamp {
  width:38%;
}
.logo_frenchtech {
  width:38%;
  margin-left: 54%;
}
.logo_supelec {
  width:38%;
}
.logo_yeast {
  width:38%;
  margin-left: 54%;
}
.logo_BPI {
  width:39%;
  margin-left: 23%;
}
.logo_CA {
  width:38%;
}
.logo_BP {
  width:38%;
}


/* Mobile Devices */
@media (min-width: 576px)
{
}

/* Medium Devices */
@media (min-width:768px) {

}

@media (min-width:992px){

}

@media (min-width:1200px){

}
