.stProject {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.obliqueProject {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width:40.2vw;
  max-height:100%;
  background-image:url(./img_Project/iliium_web-imageoblique.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: skewX(-21deg);
  transform-origin: top left;
}

.obliqueProjectLine {
  position: absolute;
  top: 0vw;
  bottom: 0;
  right: 0;
  left: 66.13vw;
  max-width:1vw;
  max-height:80%;
  background-image:linear-gradient(#323635,#323635);
  transform: skewY(0deg);
  transform:skewX(-21deg);
  transform-origin: top left;
}

.firstBall {
  position: absolute;
  top: 16.4vw;
  bottom:0;
  right: 0vw;
  left: 61.7vw;
  width:4vw;
  height:4vw;
  border-radius:50%;
  background:#323635;
}
.secondBall {
  position: absolute;
  top: 24.8vw;
  bottom: 0;
  right: 0;
  left: 58.5vw;
  width:4vw;
  height:4vw;
  border-radius:50%;
  background:#323635;
}
.thirdBall {
  position: absolute;
  top: 34.2vw;
  bottom: 0;
  right: 0;
  left: 54.7vw;
  width:4vw;
  height:4vw;
  border-radius:50%;
  background:#323635;
}

.titleProject {
  padding:5% 0% 0% 43%;
  font-size:72px;
}

.txt1Project {
  font-size: 15px;
}

.txt2Project {
  font-size: 15px;
}

.txt3Project {
  font-size: 15px;

}
.positionTxt1
{
}
.positionTxt2
{
}

.positionTxt3
{
}

/* Mobile Devices */
@media (min-width: 576px)
{
}

/* Medium Devices */
@media (min-width:768px) {

}
/* Large devices */
@media (min-width:992px){

}

/* Extra large devices */
@media (min-width:1200px){

}
